/* css styles */
#display-the-final-table > div.cell > div {
    overflow-x: auto;
    overflow-y: auto;
}

.gt_title {
    padding-left: 23rem !important;
}

.gt_heading {
    border-top-style: hidden !important;
}

div.dt-button-collection {
    position: absolute;
    width: 400px !important;
    font-size: small !important;
    border: 5px solid rgba(0, 0, 0, 0.4) !important;
}